.summary {
  position: sticky;
  top: 0px;
  border-left: 2px solid #007bff;
  font-size: 0.8em;
  bottom: 0;
  overflow-y: auto;
  max-height: 75vh;
}
.summary a {
  color: inherit;
  display: block;
  padding-left: 10px;
}
.summary a.current,
.summary a:hover {
  text-decoration: none;
  color: #000;
  border-left: 3px solid #007bff;
  padding-left: 7px;
}
.summary .level_0 {
  text-transform: uppercase;
  font-weight: 700;
}
.display-summary.current {
  display: block;
}
.display-summary {
  display: none;
}

.am_title {
  background-color: #fff;
  position: fixed;
  top: 47px;
  left: 0px;
  z-index: 3;
  padding-top: 5px;
  font-weight: 100;
  width: 100%;
}

h2 {
  color: #212529;
  font-weight: 100;
}

.am_title a {
  text-decoration: none;
  color: #212529;
}

.am_page_content {
  margin-top: 60px;
}

.parametrization_content {
  margin-top: 80px;
}

.green {
  color: green;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.inactive,
.previous_version_alinea {
  text-decoration: line-through;
  opacity: 0.4;
}

.DateInput_input {
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300;
  font-size: inherit;
  background-color: rgba(0, 0, 0, 0);
}

.SingleDatePickerInput__withBorder {
  border-radius: 4px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.DateInput,
.DateInput_input,
.DateInput_input__focused {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: inherit;
}
.SingleDatePicker {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  font-family: inherit;
}

.diff {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 0.7em;
}

.small-dropdown .dash-dropdown,
.small-dropdown .Select,
.small-dropdown .Select-multi-value-wrapper,
.small-dropdown .Select-value,
.small-dropdown .Select-value-label,
.small-dropdown .Select--single > .Select-control .Select-value,
.small-dropdown .Select-control {
  height: 29px;
  font-size: 0.97em;
}

.small-dropdown .Select-value,
.small-dropdown .Select--single > .Select-control .Select-value,
.small-dropdown .Select-value-label {
  line-height: 28px;
}
